---
layout: page
title: Projects
permalink: /projects/
---

<h2>Current Projects</h2>

<div class="projects-wrapper">
{% assign CardClass="project-card-main" %}
{% for project in site.data.Projects %}
    {% if project.status == "ongoing" %}
        {% include project-card.html %}
    {% endif %}
{% endfor %}
</div>

<h2>Past Projects</h2>

<div class="projects-wrapper"> 
{% assign CardClass="project-card" %}
{% for project in site.data.Projects %}
    {% if project.status == "closed" %}
        {% include project-card.html %}
    {% endif %}
{% endfor %}
</div>