body{
    max-width: 100%;
}
header{
    align-self: flex-start;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em;
    align-items: flex-end;
    margin: 0 0 30px;
    border-left: 0;
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
}

section{
    float: right;
    width: 75%;
    box-sizing: border-box;
    padding-top: 0;
    div.content-wrapper{        
        width: 45em;//36em;
        margin: 0 auto;
    }
}


@media print, screen and (max-width: 991px){
    body {
        width:auto;
        margin:0;
    
      header, section, footer {
        float: none;
        position:static;
        width:auto;
      }
      header{
          height: 30%;
      
      nav{
        li {
            display: inline;
            padding: 1rem;
        }
    }
    div.social{
        box-sizing: border-box;
        padding: 0;
        margin-left: -1.5em;
    }
    }
    section{
        padding: 1rem;
        div.content-wrapper{
            text-align: justify;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    }
}
}


